@page "/register"
@using Garnet.client
@using Microsoft.Extensions.Caching.Distributed
@using Newtonsoft.Json
@using OrderDishes.Data.DO
@using OrderDishes.Pages.Component
@inject GarnetClient Cache
@inject ILogger<Register> Logger
@inject NavigationManager Manager

<MTextField @bind-Value="Username"
            Label="用户名"
            Clearable>
</MTextField>
<MTextField @bind-Value="InvitationCode"
            Label="邀请码"
            Clearable>
</MTextField>


<MDialog @bind-Value="dialog"
         Width="500">
    <ActivatorContent>
         <div class="text-center">
             <MButton class="ma-2"
                      Loading="loading"
                      Disabled="loading"
                      Color="info"
                      OnClick="RegisterClick">
                <LoaderContent>
                    <span class="custom-loader"><MIcon>mdi-cached</MIcon></span>
                </LoaderContent>
                <ChildContent>
                    注册
                </ChildContent>
             </MButton>
         </div>
     </ActivatorContent>

     <ChildContent>
         <MCard>
            <MCardTitle Class="text-h5 green lighten-2">
                提示
            </MCardTitle>

            <MCardText>
                用户 @Username 创建成功
            </MCardText>

            <MDivider></MDivider>

            <MCardActions>
                <MSpacer></MSpacer>
                <MButton Color="primary"
                          Text
                          OnClick="JumpToLogin">
                     确定
                 </MButton>
             </MCardActions>
         </MCard>
     </ChildContent>
 </MDialog>
@code {
    private bool dialog;
    public string Username { get; set; }
    public string InvitationCode { get; set; }
    private bool loading { get; set; }
    public async void RegisterClick() {
        if (string.IsNullOrWhiteSpace(Username)) {
            return;
        }
        var ic = new InvitationCode() { UserInvitationCode = "yonghu", CanteenInvitationCode = "canting" };
        await Cache.StringSetAsync("InvitationCode", JsonConvert.SerializeObject(ic));
        var code = JsonConvert.DeserializeObject<InvitationCode>(await Cache.StringGetAsync("InvitationCode"));
        if (InvitationCode.Equals(code.UserInvitationCode)) {
            var UserListJson = await Cache.StringGetAsync("UserList");
            UserList UserListData;
            if (string.IsNullOrWhiteSpace(UserListJson)) {
                UserListData = new UserList() { Users = new HashSet<string>()};
            } else {
                UserListData = JsonConvert.DeserializeObject<UserList>(UserListJson);
            }
            UserListData.Users.Add(Username);
            UserListJson = JsonConvert.SerializeObject(UserListData);
            await Cache.StringSetAsync("UserList", UserListJson);
            Logger.LogInformation($"Create User: {Username}");
            dialog = true;
        } else if (InvitationCode.Equals(code.CanteenInvitationCode)) {
            var CanteenListJson = await Cache.StringGetAsync("CanteenList");
            CanteenList CanteenListData;
            if (string.IsNullOrWhiteSpace(CanteenListJson)) {
                CanteenListData = new CanteenList() { Canteens = new HashSet<string>() };
            } else {
                CanteenListData = JsonConvert.DeserializeObject<CanteenList>(CanteenListJson);
            }
            CanteenListData.Canteens.Add(Username);
            CanteenListJson = JsonConvert.SerializeObject(CanteenListData);
            await Cache.StringSetAsync("CanteenList", CanteenListJson);
            await Cache.Save();
            Logger.LogInformation($"Create Canteen: {Username}");
            dialog = true;
        } else {
            Logger.LogInformation($"Failed To Create User: {Username}");
            Logger.LogInformation($"InvitationCode Not Matched: {InvitationCode}");
        }
    }
    public void JumpToLogin() {
        dialog = false; 
        Manager.NavigateTo("/login", true);
    }
}
